@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-destaque: "Kanit", sans-serif;
    --fonte-texto: "Bebas Neue", sans-serif;
    --cor1: #5f0f40ff;
    --cor2: #9a031eff;
    --cor3: #fb8b24ff;
    --cor4: #e36414ff;
    --cor5: #0f4c5cff;
    --cor6: #6a4c93;

}

body {
    background-color: var(--cor2)
    font-family: var(--fonte-texto);
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--cor3)
    padding: 1em;
}

body p{
    font-size: 1.2rem;
    color: var(--cor5)
}
 #caixa{
    display: flex;
 }

 .cartao{
    margin: 1rem;
    background-color: var(--cor2);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out
}
.cartao__conteudo h3{
    border: 2px solid var(--cor6);
    font-family: var(--fonte-destaque);
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    margin: 0,6rem;
    border-radius: 0.6rem;
    font-size: 1.5vw;
    backface-visibility: hidden;
}
.cartao__conteudo__perguntas{
    margin-top: 2.5rem;
    font-size: 1.5rem;
}
.cartao__conteudo__perguntas
.cartao__conteudo__respostas{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

         


.cartao__conteudo p {
    margin: 1rem;
    padding: 1.3rem;
}
.cartao__conteudo__respostas{
    font-size: 1.5rem;
    transform: rotateY(180deg);
}

