@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-destaque: "Kanit", sans-serif;
    --fonte-texto: "Bebas Neue", sans-serif;
    --cor1: #5f0f40ff;
    --cor2: #9a031eff;
    --cor3: #fb8b24ff;
    --cor4: #e36414ff;
    --cor5: #0f4c5cff;
    --cor6: #6a4c93;

}

body {
    background-color: var(--cor2)
    font-family: var(--fonte-texto);
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--cor3)
    padding: 1em;
}

footer p{
    font-size: 1.2rem;
    color: var(--cor5)
}